{% extends "base.html" %}
{% block title %}Blue Badge - Verifiable Badges{% endblock %}
{% block head %}
    <meta name="description"
          content="Blue Badge is a method for defining, issuing, and verifying badges on ATProtocol handles.">
    <script type="application/ld+json">
{ "@context" : "https://schema.org", "@type" : "Organization", "url" : "{{ external_base }}/", "name": "Blue Badge" }
    </script>
{% endblock %}
{% block content %}
    <section class="hero">
        <nav class="level">
            <div class="level-left">
                <div class="hero-body">
                    <p class="title">Blue Badge</p>
                    <p class="subtitle">Define, Issue, and Verify Badges for ATProtocol Handles.</p>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <form method="post" action="/language">
                        <input type="hidden" name="language" value="en">
                        <div class="field">
                            <p class="control">
                                <button class="button is-ghost">🇺🇸</button>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="level-item">
                    <form method="post" action="/language">
                        <input type="hidden" name="language" value="pt_BR">
                        <div class="field">
                            <p class="control">
                                <button class="button is-ghost">🇧🇷</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </section>
    <section class="section pb-0">
        <form action="verify" method="get">
            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input class="input"
                           type="text"
                           placeholder="at://did:plc:cbkjy5n7bk3ax2wplmtjofq2/blue.badge.collection/3l2npthykb226"
                           name="uri"
                           required>
                </p>
                <p class="control">
                    <button class="button is-info">
                        <span class="icon">
                            <i class="fas fa-certificate"></i>
                        </span>
                        <span>Verify</span>
                    </button>
                </p>
            </div>
            <p class="help">
                Use this to verify a badge in an @handle repository.
                <span class="is-hidden-mobile">
                    <code>at://did:plc:cbkjy5n7bk3ax2wplmtjofq2/blue.badge.collection/3l2npthykb226</code>
                </span>
            </p>
        </form>
    </section>
    <section class="section content">
        <h1 class="title">How Does This Work?</h1>
        <p>
            First, an issuer defines one or more <code>blue.badge.definition</code> records to be issued:
        </p>
        <pre><code>{
    "uri": "at://did:plc:puy52u7opoy3gvrv7h7qdy76/blue.badge.definition/6XXzn32gbU",
    "cid": "bafyreifbq7wub6wfuntruagvaaivqsinxyc4mpbfagjka35v4wx7aeu3fe",
    "value": {
        "name": "Adventure Awaits!",
        "text": "You're in for an adventure! Log in for the first time to https://atproto.camp/",
        "$type": "blue.badge.definition"
    }
}</code></pre>
        <p>
            With the permission of a @handle (via OAuth), the issuer writes a <code>blue.badge.award</code> record to
            the @handle's repository. They can use the <code>blue.badge.collection</code> collection or their own.
        </p>
        <p>The award record contains basic badge information as well as a cryptographic signature of the badge:</p>
        <pre><code>{
    "$type": "blue.badge.award",
    "badge": {
        "cid": "bafyreifbq7wub6wfuntruagvaaivqsinxyc4mpbfagjka35v4wx7aeu3fe",
        "description": "You\u0027re in for an adventure! Log in for the first time to https://atproto.camp/.",
        "name": "Adventure Awaits!",
        "uri": "at://did:plc:puy52u7opoy3gvrv7h7qdy76/blue.badge.definition/6XXzn32gbU"
    },
    "did": "did:plc:cbkjy5n7bk3ax2wplmtjofq2",
    "issued": "2024-08-26T22:14:02.000Z",
    "proof": {
        "k": "https://atproto.camp/.well-known/jwks.json#01J67HHM2CCKT98FE20SKPR5EA",
        "s": "2-EaPZELcvu5SL8lS863fta8moqLZcpKlrzFpn7RbUr_B37HZphJa642dJfGNM2BMZGl-YGQync-2pyhoPC4Wg=="
    }
}</code></pre>
        <p>
            That signature can be verified by applications and clients using the proof key and signature. The key is a URL
            to a JSON Web Key Set with the Key Identifier in the URL fragment. The signaure is created from the DAG-CBOR
            encoded badge record without the proof element (just the $type, did, badge, and issued elements).
        </p>
    </section>
    <section class="section content">
        <h1 class="title">Badge Image Embedding</h1>
        <p>
            Badges can be embedded as SVG images using the https://render.badge.blue/badge URL with the `uri` query string parameter:
            <a rel="nofollow"
               href="https://render.badge.blue/badge?uri=at://did:plc:cbkjy5n7bk3ax2wplmtjofq2/blue.badge.collection/3l2npthykb226">
                https://render.badge.blue/badge?uri=at://did:plc:cbkjy5n7bk3ax2wplmtjofq2/blue.badge.collection/3l2npthykb226
            </a>
        </p>
        <p>The rendered badge image will include the issuer handle, subject handle, and badge title.</p>
        <p>
            <img src="https://render.badge.blue/badge?uri=at://did:plc:cbkjy5n7bk3ax2wplmtjofq2/blue.badge.collection/3l2npthykb226" />
        </p>
    </section>
{% endblock %}
